@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page {
  @include margin-bottom(2);

  .inner {
    @include padding(1, 0.75, 0);
  }

  .title {
    font-size: $typographic-base-font-size * 2.5;
    font-weight: 600;
    @include line-height(1.65);
    @include margin-top(0);
    @include margin-bottom(1.45);
  }

  .body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin(0, 0, 1);
  }
}

@include breakpoint-sm {
  .page {
    lost-column: 7/12;

    .inner {
      @include padding(1.25, 0.75, 0);
    }
  }
}

@include breakpoint-md {
  .page {
    lost-column: 2/3;

    .inner {
      @include padding(1.5, 1, 0);
    }
  }
}
